.container{
    padding: 0rem 2 rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.wrapper{
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
}
.wrapper>img{
    width: 30rem;
    position: absolute;
    bottom: 0;
}

.circle{
    width: 30rem;
    height: 23rem;
    border-radius: 50%;
    z-index: -99;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgreen;
}

.h_sides{
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 1rem;
}

.text1{
    text-transform: uppercase;
    font-size: 1.5rem;
    width: min-content;
    display: black;
    font-weight: 600;
    padding: 0 1rem;
}

.text2{
    display: flex;
    flex-direction: column;
    width: min-content;
    color: black;
    padding: 0 1rem;
}

.text2>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
    padding: 0 1rem;
}

.text1>:nth-child(2){
    display: blok;
    padding: 0 1rem;
}

.traffic{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 1rem;
}

.traffic>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
    padding: 0 1rem;
}

.customers{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 0 1rem;
}

.customers>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
    padding: 0 1rem;
}

@media screen and (max-width: 640px){
    .circle{
        top: 0;
        width: 16rem;
        height: 72%;
    }
.wrapper{
    top: 3rem;
    width: 16rem;
    height: 15rem;
}
}
